<div class="container mx-auto p-4">
  <mat-card class="max-w-md mx-auto">
    <mat-card-header class="justify-center">
      <mat-card-title>S'inscrire à l'événement</mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-4">
      <form [formGroup]="registrationForm()" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput type="text" formControlName="firstName" />
          @if (registrationForm().get('firstName')?.invalid && registrationForm().get('firstName')?.touched) {
          <mat-error>Le prénom est requis.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="lastName" />
          @if (registrationForm().get('lastName')?.invalid && registrationForm().get('lastName')?.touched) {
          <mat-error>Le nom est requis.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email (facultatif)</mat-label>
          <input matInput type="email" formControlName="email" />
          @if (registrationForm().get('email')?.invalid && registrationForm().get('email')?.touched) {
          <mat-error>Veuillez entrer un email valide.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input matInput type="tel" formControlName="phoneNumber" />
          @if (registrationForm().get('phoneNumber')?.invalid && registrationForm().get('phoneNumber')?.touched) {
          <mat-error>Le numéro de téléphone est requis.</mat-error>
          }
        </mat-form-field>

        @if (message()) {
        <p class="mt-4 text-center font-semibold" [class.text-green-500]="success()" [class.text-red-500]="!success()">
          {{ message() }}
        </p>
        }

        <mat-card-actions class="!flex justify-end !p-0 mt-4">
          <button type="submit" mat-raised-button color="primary" [disabled]="registrationForm().invalid">
            Confirmer l'inscription
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
