<app-loading *ngIf="isLoading"></app-loading>

<div [hidden]="isLoading">
  <!-- Main container with a modern, simple design -->
  <div class="bg-gray-100 min-h-screen font-sans antialiased text-gray-800">
    <mat-toolbar color="primary" class="shadow-md">
      <a [routerLink]="['/']" class="flex-1 text-center text-xl font-bold">
        <span>Calendrier Buncoeur</span>
      </a>
    </mat-toolbar>

    <!-- Router Outlet: This is where Angular displays the components based on the current URL -->
    <main class="p-4 md:py-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
